In [27]:
import pandas as pd
import geopandas

In [12]:
df = pd.read_csv('ramen-ratings.csv')

df.head()

shape: (5, 6)
┌──────────┬──────────────┬─────────────────────────────────────┬───────┬───────────────┬───────┐
│ Review # ┆ Brand        ┆ Variety                             ┆ Style ┆ Country       ┆ Stars │
│ ---      ┆ ---          ┆ ---                                 ┆ ---   ┆ ---           ┆ ---   │
│ i64      ┆ str          ┆ str                                 ┆ str   ┆ str           ┆ f64   │
╞══════════╪══════════════╪═════════════════════════════════════╪═══════╪═══════════════╪═══════╡
│ 4295     ┆ Annie Chun's ┆ Thai Style Pad Thai Noodle Bowl     ┆ Bowl  ┆ United States ┆ 0.0   │
│ 4284     ┆ Lotus Foods  ┆ Spicy Kimchi Rice Ramen Noodle S... ┆ Cup   ┆ United States ┆ 0.0   │
│ 4279     ┆ Lotus Foods  ┆ Tom Yum Rice Ramen Noodle Soup      ┆ Cup   ┆ United States ┆ 0.0   │
│ 4277     ┆ Annie Chun's ┆ Vegan Tonkotsu Ramen Soup Bowl      ┆ Bowl  ┆ United States ┆ 0.0   │
│ 4258     ┆ Ocean's Halo ┆ Plant Based Vegan Beef Instant N... ┆ Bowl  ┆ United States ┆ 0.0   │
└──────────┴──────────────┴─────────────────────────────────────┴───────┴───────────────┴───────┘

In [28]:
world = geopandas.read_file(geopandas.datasets.get_path('naturalearth_lowres'))

         pop_est      continent                      name iso_a3  gdp_md_est  \
0       889953.0        Oceania                      Fiji    FJI        5496
1     58005463.0         Africa                  Tanzania    TZA       63177
2       603253.0         Africa                 W. Sahara    ESH         907
3     37589262.0  North America                    Canada    CAN     1736425
4    328239523.0  North America  United States of America    USA    21433226
..           ...            ...                       ...    ...         ...
172    6944975.0         Europe                    Serbia    SRB       51475
173     622137.0         Europe                Montenegro    MNE        5542
174    1794248.0         Europe                    Kosovo    -99        7926
175    1394973.0  North America       Trinidad and Tobago    TTO       24269
176   11062113.0         Africa                  S. Sudan    SSD       11998

                                              geometry
0    MULTIPOLYGON (((180.00000 -16.06713, 180.00000...
1    POLYGON ((33.90371 -0.95000, 34.07262 -1.05982...
2    POLYGON ((-8.66559 27.65643, -8.66512 27.58948...
3    MULTIPOLYGON (((-122.84000 49.00000, -122.9742...
4    MULTIPOLYGON (((-122.84000 49.00000, -120.0000...
..                                                 ...
172  POLYGON ((18.82982 45.90887, 18.82984 45.90888...
173  POLYGON ((20.07070 42.58863, 19.80161 42.50009...
174  POLYGON ((20.59025 41.85541, 20.52295 42.21787...
175  POLYGON ((-61.68000 10.76000, -61.10500 10.890...
176  POLYGON ((30.83385 3.50917, 29.95350 4.17370, ...

[177 rows x 6 columns]

In [35]:
merged = df.merge(world,left_on="Country", right_on="name", how="left")
merged[merged['name'].isna()]['Country'].unique()

array(['United States', 'Singapore', 'Hong Kong'], dtype=object)

In [38]:
pd.set_option('display.max_rows', 500)
geopandas.read_file(geopandas.datasets.get_path("naturalearth_lowres"))['name']

0                          Fiji
1                      Tanzania
2                     W. Sahara
3                        Canada
4      United States of America
5                    Kazakhstan
6                    Uzbekistan
7              Papua New Guinea
8                     Indonesia
9                     Argentina
10                        Chile
11              Dem. Rep. Congo
12                      Somalia
13                        Kenya
14                        Sudan
15                         Chad
16                        Haiti
17               Dominican Rep.
18                       Russia
19                      Bahamas
20                 Falkland Is.
21                       Norway
22                    Greenland
23       Fr. S. Antarctic Lands
24                  Timor-Leste
25                 South Africa
26                      Lesotho
27                       Mexico
28                      Uruguay
29                       Brazil
30                      Bolivia
31                         Peru
32                     Colombia
33                       Panama
34                   Costa Rica
35                    Nicaragua
36                     Honduras
37                  El Salvador
38                    Guatemala
39                       Belize
40                    Venezuela
41                       Guyana
42                     Suriname
43                       France
44                      Ecuador
45                  Puerto Rico
46                      Jamaica
47                         Cuba
48                     Zimbabwe
49                     Botswana
50                      Namibia
51                      Senegal
52                         Mali
53                   Mauritania
54                        Benin
55                        Niger
56                      Nigeria
57                     Cameroon
58                         Togo
59                        Ghana
60                Côte d'Ivoire
61                       Guinea
62                Guinea-Bissau
63                      Liberia
64                 Sierra Leone
65                 Burkina Faso
66         Central African Rep.
67                        Congo
68                        Gabon
69                   Eq. Guinea
70                       Zambia
71                       Malawi
72                   Mozambique
73                     eSwatini
74                       Angola
75                      Burundi
76                       Israel
77                      Lebanon
78                   Madagascar
79                    Palestine
80                       Gambia
81                      Tunisia
82                      Algeria
83                       Jordan
84         United Arab Emirates
85                        Qatar
86                       Kuwait
87                         Iraq
88                         Oman
89                      Vanuatu
90                     Cambodia
91                     Thailand
92                         Laos
93                      Myanmar
94                      Vietnam
95                  North Korea
96                  South Korea
97                     Mongolia
98                        India
99                   Bangladesh
100                      Bhutan
101                       Nepal
102                    Pakistan
103                 Afghanistan
104                  Tajikistan
105                  Kyrgyzstan
106                Turkmenistan
107                        Iran
108                       Syria
109                     Armenia
110                      Sweden
111                     Belarus
112                     Ukraine
113                      Poland
114                     Austria
115                     Hungary
116                     Moldova
117                     Romania
118                   Lithuania
119                      Latvia
120                     Estonia
121                     Germany
122                    Bulgaria
123                      Greece
124                      Turkey
125                     Albania
126                     Croatia
127                 Switzerland
128                  Luxembourg
129                     Belgium
130                 Netherlands
131                    Portugal
132                       Spain
133                     Ireland
134               New Caledonia
135                 Solomon Is.
136                 New Zealand
137                   Australia
138                   Sri Lanka
139                       China
140                      Taiwan
141                       Italy
142                     Denmark
143              United Kingdom
144                     Iceland
145                  Azerbaijan
146                     Georgia
147                 Philippines
148                    Malaysia
149                      Brunei
150                    Slovenia
151                     Finland
152                    Slovakia
153                     Czechia
154                     Eritrea
155                       Japan
156                    Paraguay
157                       Yemen
158                Saudi Arabia
159                  Antarctica
160                   N. Cyprus
161                      Cyprus
162                     Morocco
163                       Egypt
164                       Libya
165                    Ethiopia
166                    Djibouti
167                  Somaliland
168                      Uganda
169                      Rwanda
170            Bosnia and Herz.
171             North Macedonia
172                      Serbia
173                  Montenegro
174                      Kosovo
175         Trinidad and Tobago
176                    S. Sudan
Name: name, dtype: object

In [19]:
# [print(d) for d in df.unique(subset='Brand')['Brand'].sort().to_list()];

df.filter(
    pl.col('Brand').str.contains('Samyang')
)

# df.filter(
#     pl.col('Top Ten').is_not_null()
# ).sort(by='Top Ten')

# df['Style'].unique()

df.filter(
    pl.col('Country').sort(by='Country'))

TypeError: Expr.sort() got an unexpected keyword argument 'by'