In [2]:
import polars as pl

In [3]:
df = pl.read_csv('ramen-ratings.csv')

df.head()

shape: (5, 7)
┌──────────┬────────────────┬──────────────────────────────────┬───────┬─────────┬───────┬─────────┐
│ Review # ┆ Brand          ┆ Variety                          ┆ Style ┆ Country ┆ Stars ┆ Top Ten │
│ ---      ┆ ---            ┆ ---                              ┆ ---   ┆ ---     ┆ ---   ┆ ---     │
│ i64      ┆ str            ┆ str                              ┆ str   ┆ str     ┆ str   ┆ str     │
╞══════════╪════════════════╪══════════════════════════════════╪═══════╪═════════╪═══════╪═════════╡
│ 2580     ┆ New Touch      ┆ T's Restaurant Tantanmen         ┆ Cup   ┆ Japan   ┆ 3.75  ┆ null    │
│ 2579     ┆ Just Way       ┆ Noodles Spicy Hot Sesame Spicy   ┆ Pack  ┆ Taiwan  ┆ 1     ┆ null    │
│          ┆                ┆ H...                             ┆       ┆         ┆       ┆         │
│ 2578     ┆ Nissin         ┆ Cup Noodles Chicken Vegetable    ┆ Cup   ┆ USA     ┆ 2.25  ┆ null    │
│ 2577     ┆ Wei Lih        ┆ GGE Ramen Snack Tomato Flavor    ┆ Pack  ┆ Taiwan  ┆ 2.75  ┆ null    │
│ 2576     ┆ Ching's Secret ┆ Singapore Curry                  ┆ Pack  ┆ India   ┆ 3.75  ┆ null    │
└──────────┴────────────────┴──────────────────────────────────┴───────┴─────────┴───────┴─────────┘

In [4]:
# [print(d) for d in df.unique(subset='Brand')['Brand'].sort().to_list()];

df.filter(
    pl.col('Brand').str.contains('Samyang')
)

# df.filter(
#     pl.col('Top Ten').is_not_null()
# ).sort(by='Top Ten')

df['Style'].unique()

shape: (8,)
Series: 'Style' [str]
[
	"Bar"
	"Can"
	"Pack"
	"Cup"
	"Box"
	"Bowl"
	null
	"Tray"
]