In [20]:
import polars as pl

In [21]:
df = pl.read_csv('ramen-ratings.csv').drop('T')

df.head()

shape: (5, 6)
┌──────────┬──────────────┬─────────────────────────────────────┬───────┬───────────────┬───────┐
│ Review # ┆ Brand        ┆ Variety                             ┆ Style ┆ Country       ┆ Stars │
│ ---      ┆ ---          ┆ ---                                 ┆ ---   ┆ ---           ┆ ---   │
│ i64      ┆ str          ┆ str                                 ┆ str   ┆ str           ┆ f64   │
╞══════════╪══════════════╪═════════════════════════════════════╪═══════╪═══════════════╪═══════╡
│ 4295     ┆ Annie Chun's ┆ Thai Style Pad Thai Noodle Bowl     ┆ Bowl  ┆ United States ┆ 0.0   │
│ 4284     ┆ Lotus Foods  ┆ Spicy Kimchi Rice Ramen Noodle S... ┆ Cup   ┆ United States ┆ 0.0   │
│ 4279     ┆ Lotus Foods  ┆ Tom Yum Rice Ramen Noodle Soup      ┆ Cup   ┆ United States ┆ 0.0   │
│ 4277     ┆ Annie Chun's ┆ Vegan Tonkotsu Ramen Soup Bowl      ┆ Bowl  ┆ United States ┆ 0.0   │
│ 4258     ┆ Ocean's Halo ┆ Plant Based Vegan Beef Instant N... ┆ Bowl  ┆ United States ┆ 0.0   │
└──────────┴──────────────┴─────────────────────────────────────┴───────┴───────────────┴───────┘

In [41]:
def group_by_country(df: pl.DataFrame):
    return df.groupby('Country').count().sort(by='count', reverse=True)

def clean_country(df: pl.DataFrame, from_str: str, to_str: str):
    return df.with_column(
        pl.when(pl.col('Country').str.contains(from_str)).then(pl.lit(to_str)).otherwise(pl.col('Country')).alias('Country')
    )

pl.Config.set_tbl_rows(10000)
df = clean_country( df, 'Russia', 'Russia')
df = clean_country(df, 'Phlippines', 'Philippines')
df = clean_country(df, 'Souh Korea', 'South Korea')
df = clean_country(df, 'USA', 'United States')
df = clean_country(df, 'UK', 'United Kingdom')
df = clean_country(df, 'Holland', 'Netherlands')
df = clean_country(df, 'Sarawak', 'Malaysia')
df = clean_country(df, 'Dubai', 'United Arab Emirates')
df.sort(by='Review #').write_csv('ramen-ratings.csv')
group_by_country(df)

shape: (46, 2)
┌──────────────────────┬───────┐
│ Country              ┆ count │
│ ---                  ┆ ---   │
│ str                  ┆ u32   │
╞══════════════════════╪═══════╡
│ Japan                ┆ 845   │
│ United States        ┆ 635   │
│ South Korea          ┆ 436   │
│ Taiwan               ┆ 424   │
│ China                ┆ 312   │
│ Thailand             ┆ 239   │
│ Malaysia             ┆ 233   │
│ Hong Kong            ┆ 206   │
│ Indonesia            ┆ 175   │
│ Singapore            ┆ 146   │
│ Vietnam              ┆ 132   │
│ United Kingdom       ┆ 83    │
│ Canada               ┆ 56    │
│ Philippines          ┆ 54    │
│ India                ┆ 46    │
│ Germany              ┆ 38    │
│ Mexico               ┆ 32    │
│ Australia            ┆ 25    │
│ Brazil               ┆ 24    │
│ Netherlands          ┆ 20    │
│ Nepal                ┆ 14    │
│ Myanmar              ┆ 14    │
│ Pakistan             ┆ 13    │
│ Bangladesh           ┆ 12    │
│ Hungary              ┆ 9     │
│ Russia               ┆ 7     │
│ Colombia             ┆ 6     │
│ France               ┆ 6     │
│ Poland               ┆ 6     │
│ Cambodia             ┆ 5     │
│ Serbia               ┆ 5     │
│ Ireland              ┆ 4     │
│ Peru                 ┆ 4     │
│ Italy                ┆ 4     │
│ Fiji                 ┆ 4     │
│ Ukraine              ┆ 3     │
│ Sweden               ┆ 3     │
│ Finland              ┆ 3     │
│ Spain                ┆ 3     │
│ United Arab Emirates ┆ 3     │
│ Israel               ┆ 3     │
│ Nigeria              ┆ 2     │
│ Estonia              ┆ 2     │
│ Ghana                ┆ 2     │
│ Portugal             ┆ 1     │
│ New Zealand          ┆ 1     │
└──────────────────────┴───────┘